PORT=5000
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=onboarding@resend.dev
ADMIN_NOTIFICATION_EMAIL=team@sparklehood.com
JWT_SECRET=igp_sparklehood_secure_jwt_secret_2026_x89!
ADMIN_EMAIL=admin@sparklehood.com
ADMIN_PASSWORD=AdminPassword123!
